.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: space-around;

  background: black;
  color: fuschia;
  font: white;

  text-align: center;

  a {
    text-decoration: none;
    color: orchid;

  }
}